@import url(../css/base.css);

/* MAIN */
#q-main,
section {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

h2,
#q-score,
main p {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  margin: 3px;
}

/* trivia elements */
main p:nth-child(2) {
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: var(--text-shadow);
}

main ul {
  display: flex;
  flex-direction: column;
}

main ul li {
  min-height: 60px;
  width: 240px;
  margin: 10px;
  padding: 10px;
  background-color: var(--color-title);
  color: var(--generic);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

main ul li::before {
  padding-right: 10px;
  color: var(--bg-specialPink);
  font-weight: bold;
}

main ul li:first-child:before {
  content: "A.";
}

main ul li:nth-child(2)::before {
  content: "B.";
}

main ul li:nth-child(3)::before {
  content: "C.";
}

main ul li:nth-child(4)::before {
  content: "D.";
}

main ul li:hover {
  font-weight: bold;
  border: solid 2pt gainsboro;
}

main ol {
  background-color: rgb(35, 35, 35);
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--box-shadow);
}

.finalScoreList {
  list-style-type: none;
  cursor: text;
  color: var(--bg-specialPink);
}

.finalScoreList:first-child {
  color: var(--generic);
}

/*div results*/
.correct,
.wrong {
  font-weight: lighter;
  font-size: 1rem;
  padding: 5px;
  color: var(--generic);
  margin: 15px 0;
  box-shadow: var(--box-shadow);
}

.correct {
  background-color: darkgreen;
}

.wrong {
  background-color: red;
}

/*input and buttons*/
.button {
  text-align: center;
  background-color: var(--bg-specialGreen);
  padding: .6rem 4rem;
  font-family: var(--font-title);
  color: var(--generic);
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  margin-top: 10px;
}

#username {
  padding: .6rem;
  margin-bottom: 10px;
  font-size: .9rem;
}

@media (min-width: 700px) {
  main p:nth-child(2) {
    width: 80%;
  }

  main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}