@import url(../css/base.css);

.flex {
  display: flex;
  gap: 10px;
}

main div {
  min-height: 32px;
}

/*div results*/
.correct {
  padding-left: var(--pad-left);
  background-color: var(--bg-specialGreen);
  color: var(--generic);
}

.wrong {
  padding-left: var(--pad-left);
  background-color: red;
  color: var(--generic);
}

/* .hide {
  display: none;
} */

/*buttons*/
.button {
  text-align: center;
  background-color: var(--bg-specialGreen);
  padding: .3rem;
  font-size: var(--font-title);
  color: var(--generic);
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}