@import url(./base.css);

/* search */
form#searchForm {
  display: flex;
  align-content: center;
  margin: 10px 1rem 0 1rem;
  border-radius: 5px;
  border: solid 1pt gainsboro;
}

#searchForm input {
  border: none;
  flex-grow: 1;
  padding: .6rem;
}

.alert {
  font-size: 2.5rem;
  color: var(--color-title);
  font-weight: bold;
  text-align: center;
}

/*MAIN*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main p {
  margin: 1rem 0;
  /* display: flex; */
}

/* sections */
.bookSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bookSection img {
  margin: 7px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.bookSection h4:not(:last-child) {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1pt var(--bg-specialGreen);
}

.bookSection h2 {
  color: var(--color-title);
  text-shadow: var(--text-shadow);
}

.bookSection h3 {
  color: var(--bg-specialGreen);
  text-shadow: var(--text-shadow);
  margin: 3px;
}

.bookSection button {
  width: 128px;
  padding: 7px;
  margin-bottom: 7px;
  color: var(--color-title);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--bg-specialPink);
  box-shadow: var(--box-shadow);
}

.bookSection button:hover {
  font-weight: lighter;
  font-size: .9rem;
  color: var(--generic);
  background-color: var(--bg-specialGreen);
}

.bookSection p {
  margin-top: 0;
  background-color: var(--generic);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  line-height: 1.5rem;
  text-align: left;
}

#aboutUs {
  position: relative;
}

#aboutUs img.logo {
  max-width: 200px;
  float: right;
}

.hide {
  display: none;
}